<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container_login">
        <div class="box">
            <div class="content">
                <div style="text-align: center;">
                    <h1>Login</h1>
                </div>
                
                <div>
                    <input style="width: 88%;" class="loginname"  id="login-username" type="text" placeholder="username">
                    <input style="width: 88%;" class="loginpassword" type="password" placeholder="password"  id="login-password">
                </div>
                <div onclick="redirectToSignIn()" style="width: 94%; cursor: pointer; color: rgb(127, 173, 241); display: flex ; justify-content: end;" >
                    <p>sign in</p>
                </div>
                
                <div style="display: flex ; justify-content: center;">
                    <button id="btn-login" onclick="loginButton">Login</button>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>
<script>
    const loginButton = document.getElementById('btn-login')
    
    loginButton.addEventListener('click', function() {
        const login_username = document.getElementById('login-username').value;
        const login_password = document.getElementById('login-password').value
        Login();
    });


    function Login() {
        const login_username = document.getElementById('login-username').value;
        const login_password = document.getElementById('login-password').value
        const data = {
            data: {
                username: login_username,
                password: login_password
            }
        };
        username = login_username
        password = login_password
            axios.post('https://backgamecard.vercel.app/login' , {username , password})
                .then(response => {
                    console.log(response.data);
                    const status = response.data
                    if(status.message == "Login successful"){
                        const username = status.user.username
                        window.location.href = `/index?username=${encodeURIComponent(username)}`
                    }else{
                        alert("Your have a accoun ?")
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        }
    function redirectToSignIn() {
        window.location.href = '/sigin';
    }

</script>